@charset "UTF-8";
.header {
  display: flex; }

body, html {
  width: fit-content;
  min-width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif; }

.pl10 {
  padding-left: 10px; }

.pb5 {
  padding-bottom: 5px; }

.mb5 {
  margin-bottom: 5px; }

.content-center {
  align-content: center; }

.flex-distributed {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

@media screen and (max-width: 575px) {
  .text-sm-center {
    text-align: center; } }

.h100 {
  height: 100px; }

.highlighted {
  color: silver; }

.bsolid {
  border: 1px solid black; }

.solid-border {
  border: solid 1px blue; }

.box {
  color: blue;
  border: blue; }

.header {
  display: flex; }

.header__top-addr-line {
  background-color: #363a3f; }

.header__top-addr-line-text {
  color: #89929d;
  white-space: normal;
  padding: 10px 0px 10px 0px; }
  @media screen and (max-width: 576px) {
    .header__top-addr-line-text {
      text-align: center;
      font-weight: bold; } }

.header__container {
  width: 100%;
  max-width: 1500px;
  color: silver;
  margin: auto;
  padding: 0px 10px; }

.header__white-sub-header {
  padding-top: 10px;
  width: 100%;
  max-width: 1500px;
  margin: auto; }

.subheader__org-phone {
  font-weight: bold;
  padding: 0px 10px;
  line-height: 44px;
  text-align: center;
  white-space: nowrap; }

.subheader__org-email {
  color: #787878;
  padding: 0px 10px;
  line-height: 44px;
  white-space: nowrap;
  text-align: center; }

.subheader__send-message-button {
  text-align: center;
  white-space: nowrap;
  padding: 0px 10px;
  border-style: solid;
  border-color: #797979;
  border-width: 1px;
  border-radius: 3px;
  height: 44px;
  line-height: 44px; }
  @media screen and (max-width: 767px) {
    .subheader__send-message-button {
      margin-bottom: 5px; } }
  .subheader__send-message-button:hover {
    background-color: #797979;
    color: white; }

.subheader__edo-naks-login-button {
  border: solid 1px #0173cc;
  border-radius: 3px;
  height: 44px;
  padding: 0px 10px;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  color: #0173cc; }
  .subheader__edo-naks-login-button:hover {
    background-color: #0173cc;
    color: white; }

@media screen and (max-width: 961px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5px;
    text-align: center; } }

.main-content {
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/img/main_cont__cont-bg-image.jpg) center center no-repeat;
  background-size: cover; }
  .main-content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-27deg, #919bad 0%, #182446 100%);
    /* Style for "Градиент поверх главной картинки" */
    opacity: .6; }

.main-content__nav-menu {
  width: 100%;
  max-width: 1500px;
  margin: auto; }

.main-content__nav-menu--menu-item {
  box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 30px;
  margin-bottom: 3px;
  line-height: 24px;
  letter-spacing: 0.84px;
  font-size: 14px;
  border-bottom: 2px solid silver;
  white-space: nowrap; }
  .main-content__nav-menu--menu-item:hover {
    border-bottom: 2px solid #609eef; }

.main-content__nav-menu--container {
  padding-bottom: 5px; }
