// only header classes here
@import "_variables.scss";

.header {
    display: flex;
}

.header__top-addr-line {
    background-color: #363a3f;
    // padding-top: 20px;
    // padding-bottom: 20px;
}

.header__top-addr-line-text {
    color: #89929d;
    white-space: normal;
    padding: 10px 0px 10px 0px;
    @media screen and (max-width: 576px) {
        text-align: center; 
        font-weight: bold;       
    }
}

.header__container {
    width: 100%;
    max-width: $cont-width;
    color: silver;
    margin: auto;
    padding: 0px 10px;
}

.header__white-sub-header {
    padding-top: 10px;
    width: 100%;
    max-width: $cont-width;
    margin: auto;
}

.subheader__org-phone {
    font-weight: bold;
    padding: 0px 10px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
}

.subheader__org-email {
    color: #787878;
    padding: 0px 10px;
    line-height: 30px;
    white-space: wrap;
    text-align: center;
}

.header-buttons-container {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.subheader__send-message-button {
    border-style: solid;
    border-color: rgb(121, 121, 121);
    border-width: 1px;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    line-height: 44px;
    flex: 1 1;
    margin: 10px;
    // @media screen and (max-width: 767px) {
    //     margin-bottom: 5px;
    // }
        &:hover {
            background-color: rgb(121, 121, 121);
            color: white;
        }
        @media screen and (max-width: 450px) {
            flex: 1 1 100%;
        }
        
    }
    
    .subheader__edo-naks-login-button {
        border: solid 1px rgb(1, 115, 204);
        border-radius: 3px;
        line-height: 44px;
        text-align: center;
        white-space: nowrap;
        color: #0173cc;
        flex: 1 1;
        margin: 10px;
        &:hover {
            background-color: rgb(1, 115, 204);
            color: white;
        }
        @media screen and (max-width: 450px) {
            flex: 1 1 100%;
        }
}

