.highlighted {
    color: silver;
}

.bsolid {
    border: 1px solid black;
}

.solid-border {
    border: solid 1px blue;
}

.box {
    color: blue;
    border: blue;
}

.underlined {
    border-bottom: 2px solid #fff;

    &:hover {
        // box-shadow:  0px 0px 0px 2px #609eef;
        border-bottom: 2px solid #609eef;
    }

    @media screen and (max-width: 1252px) {
        border-bottom: transparent;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-bottom: transparent;
        }
    }

}

.heading {
    font-size: 28px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    margin-left: 10px;
    text-transform: uppercase;
}

@mixin gradient-overlay($color1, $color2, $transparency) {
    &:before {
        content : '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, $color1, $color2);
        opacity: $transparency;
        display: block;
        position: absolute;
    }
}
